<!DOCTYPE html>
<html class="{% block html_classes %} no-js css-menubar {% endblock %}" lang="en">

<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="bootstrap admin template">
        <meta name="author" content="">
    {% endblock %}

    <title> {% block title %} Default Title {% endblock %}</title>

    {% block icons %}
        <link rel="apple-touch-icon" href="{{ asset('bundles/unicrmapp/assets/mmenu/assets/images/apple-touch-icon.png') }}">
        <link rel="shortcut icon" href="{{ asset('bundles/unicrmapp/assets/mmenu/assets/images/favicon.ico') }}">
    {% endblock %}

    {% block stylesheets %}
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/css/bootstrap-extend.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/mmenu/assets/css/site.min.css') }}">
    {% endblock %}

    {% block plugin_stylesheets %}
        <!-- Plugins -->
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/vendor/animsition/animsition.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/vendor/asscrollable/asScrollable.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/vendor/switchery/switchery.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/vendor/intro-js/introjs.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/vendor/slidepanel/slidePanel.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/vendor/jquery-mmenu/jquery-mmenu.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/vendor/flag-icon-css/flag-icon.css') }}">
    {% endblock %}

    {% block fonts %}
        <!-- Fonts -->
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/fonts/web-icons/web-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/unicrmapp/assets/global/fonts/brand-icons/brand-icons.min.css') }}">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/html5shiv/html5shiv.min.js') }}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/media-match/media.match.min.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/respond/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/breakpoints/breakpoints.js') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>

<body class="animsition {% block body_clases %}{% endblock %}">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


{% block page %}{% endblock %}

{% block core_js %}
    <!-- Core  -->
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/popper-js/umd/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/animsition/animsition.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>

{% endblock %}


{% block plugins_js %}
    <!-- Plugins -->
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/jquery-mmenu/jquery.mmenu.min.all.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/switchery/switchery.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/intro-js/intro.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/screenfull/screenfull.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-fixedheader/dataTables.fixedHeader.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-rowgroup/dataTables.rowGroup.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-scroller/dataTables.scroller.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-responsive/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-buttons/dataTables.buttons.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-buttons/buttons.html5.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-buttons/buttons.flash.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-buttons/buttons.print.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-buttons/buttons.colVis.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/moment/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/admin/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/admin/plugins/jquery-validation/form.min.js') }}"></script>
{% endblock %}

{% block js %}
    <!-- Scripts -->
    <script src="{{ asset('bundles/unicrmapp/assets/global/js/Component.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/js/Plugin.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/js/Base.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/js/Config.js') }}"></script>

    <script src="{{ asset('bundles/unicrmapp/assets/mmenu/assets/js/Section/Menubar.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/mmenu/assets/js/Section/Sidebar.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/mmenu/assets/js/Section/PageAside.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/mmenu/assets/js/Section/GridMenu.js') }}"></script>

    <!-- Config -->
    <script src="{{ asset('bundles/unicrmapp/assets/global/js/config/colors.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/mmenu/assets/js/config/tour.js') }}"></script>
    <script>Config.set('assets', '../../assets');</script>

    <!-- Page -->
    <script src="{{ asset('bundles/unicrmapp/assets/mmenu/assets/js/Site.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/js/Plugin/asscrollable.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/js/Plugin/slidepanel.js') }}"></script>
    <script src="{{ asset('bundles/unicrmapp/assets/global/js/Plugin/switchery.js') }}"></script>


    <!-- App js -->
    <script src="{{ asset('bundles/unicrmapp/assets/admin/js/app.js') }}"></script>

    <script>
        (function(document, window, $){
            'use strict';

            var Site = window.Site;
            $(document).ready(function(){
                Site.run();
            });

        })(document, window, jQuery);


        /**
         * APP HELPER DECLARATION
         * APP HELPER IS TO BE ADDED ON BASE BUNDLE BACAUSE
         * IT SERVES TO CONFIG THE PLUGINS GLOBALLY
         */

        AppHelper = {};
        AppHelper.baseUrl = "";
        AppHelper.assetsDirectory = "";

        AppHelper.settings = {};
        AppHelper.settings.firstDayOfWeek = 1;
        AppHelper.settings.displayLength = 25;
        AppHelper.settings.timeFormat = "";


        AppLanugage = {};
        AppLanugage.locale =  "EN";

        AppLanugage.days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
        AppLanugage.daysShort = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
        AppLanugage.daysMin = ["Su","Mo","Tu","We","Th","Fr","Sa"];

        AppLanugage.months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        AppLanugage.monthsShort = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];

        AppLanugage.today = "Today";
        AppLanugage.yesterday = "Yesterday";
        AppLanugage.tomorrow = "Tomorrow";

        AppLanugage.search = "Search";
        AppLanugage.noRecordFound = "No Record Found";
        AppLanugage.print ="Print";
        AppLanugage.excel = "Exel";
        AppLanugage.printButtonTooltip = "";

        AppLanugage.fileUploadInstruction = "";
        AppLanugage.fileNameTooLong = "";

        AppLanugage.custom = "";
        AppLanugage.clear = "";
    </script>
{% endblock %}

{% block custom_js %}
    {% if custom_js is defined %}
        {% if custom_js is iterable %}
            {% for  js in custom_js %}
                <script src="{{ asset(js) }}"></script>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
</body>
</html>
